.cookies-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    background: var(--tan);
}

.cookies-container > button {
    position: relative;
    margin-top: 5px;
    background: var(--tan);
    padding: 10px;
    border: solid black 2px;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.1s linear, color 0.1s linear;
}

.cookies-container > button:hover {
    background: var(--black);
    color: white;
}

@font-face {
    font-family: "DelaGothic";
    src: url('/resources/fonts/DelaGothicOne/DelaGothicOne-Regular.ttf');
}

.nanam {
    font-family: 'NanumGothic';
}

.cursor-follow {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    width: min-content;
    height: min-content;
    pointer-events: none;
    transform-origin: center;
    transform: translate(-200%, -50%);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.1s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DelaGothic';
    color: var(--black);
    word-spacing: 5px;
}

:root {
    --black: #161616;
    --tan: #987654;
}

.unused {
    display: none;
}
